<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.vassiliev.androidfilebrowser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidFileBrowserExampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- This is necessary for file browser -->
        <activity
            android:name="ua.com.vassiliev.androidfilebrowser.FileBrowserActivity"
            android:label="File browser" >
            <intent-filter>
                <action android:name="ua.com.vassiliev.androidfilebrowser.SELECT_DIRECTORY_ACTION"></action>
            </intent-filter>
            
        </activity>
        <!-- End of file browser necessity -->
        
    </application>

</manifest>